/********** BODY **********/

body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    width: 100%;
}

/********** HEADER **********/

header{
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
    font-size: 14px;
}

header div{
    display: none;
}

header nav{
    background-color:  #F0A83E;
    color:  #F3F3F3;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 10px;
}


nav a{
    margin: 10px;
    padding-left: 20px;
    text-decoration: none;
}

a:visited{
    color: #F3F3F3;
}

nav i{
    padding-right: 20px;
}

nav img{
    width: auto;
    flex-basis: auto;
}

header ul{
    display: none;
}

/********** BANNER **********/
.banner{
    background-image: url('../img/bowlbackground.png');
    background-size: cover;
    color: #3C2313;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 15px;
}

#slideTitle{
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}

#slideText{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

button{
    background-color: #F0A83E;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
}

/********** INTRO PRODUCTOS DESTACADOS **********/

.highlightedProducts{
    background-color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    margin: 10px 15px;
}

.highlightedProducts span{
    font-size: 32px;
    color: #F0A83E;
}

h1{
    color: #3C2313;
    font-size: 32px;
}

.highlightedProducts div{
    display: flex;
    justify-content: space-around;
}

.highlightedProducts a{
    color: #666666;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.highlightedProducts a:visited{
    color: #666666;
}

/********** SECTION CARDS **********/

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card{
    align-items: center;
    background-color: #FBFAF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin: 5px;
    max-width: 300px;
}

.cardProductName{
    color: #3C2313;
    font-size: 24px;
    font-weight: 500;
}

.cardPrice{
    color: #F0A83E;
    font-weight: 500;
    font-size: 24px;
}

/********** FORM **********/

h3{
    font-size: 24px;
    color: #3C2313;
    text-align: center;
}

form{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactUs input{
    background-color:  #3C2313;
    border-radius: 10px;
    border-style: none;
    color: #FFFFFF;
    font-family: Roboto;
    margin: 5px;
    padding: 10px;
    width: 80%;
    
}

.contactUs ::placeholder{ 
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
}

form div{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

form input[type=submit], form input[type=reset]{
    background-color: #F0A83E;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 90px;
}

/********** SUBSCRIBE BANNER **********/

.subscribe{
    background-color:  #F0A83E;
    color:  #F3F3F3;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
}

.footerForm{
    display: flex;
    flex-direction: row;
}

.subscribe input{
    background-color:  #FFFFFF;
    border-radius: 10px;
    border-style: none;
    color: #3C2313;
    font-family: Roboto;
    margin: 5px;
    padding: 10px;
}

.subscribe input[type=submit]{
    background-color: #3C2313;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}
.subscribe ::placeholder{ 
    color: #A0A0A0;
    border-style: none;
}

/*********** FOOTER **********/

footer{
    background-color:   #3C2313;
    color:  #F3F3F3;
}

#whiteLogo{
    align-self: center;
    height: 30px;   
    margin: 20px; 
}

.information{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.infoElement{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.footerElement{
    align-items: center;
    display: flex;
}

.infoName{
    font-size: 24px;
    font-weight: 500;
}
.infoData{
    font-size: 18px;
    font-weight: 500;
    color: #8A8787;
}

.copyright{
    background-color: black;
    border-style: none;
    color: #F3F3F3;
    font-size: 16px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

/********** MEDIA QUERIES ********/

@media (min-width: 640px){

    /***** Languages bar *****/

    header div{
        background-color: black;
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    /***** Header nav *****/

    #menu{
        display: none;
    }


/***** BANNER *****/

/********** BANNER **********/

.banner{
    padding: 50px;
    justify-content: space-evenly;
}

#slideTitle{
    font-size: 40px;
}

#slideText{
    font-size: 32px;
    margin-top: 10px;

}

button{
    font-size: 24px;
    padding: 10px;
    margin-top: 10px;
}

/********* Destacador *********/

/********** INTRO PRODUCTOS DESTACADOS **********/

.highlightedProducts span{
    font-size: 48px;
}

h1{
    font-size: 48px;
}

.highlightedProducts a{
    font-size: 18px;
    font-weight: 500;
}

/******** Section Cards *********/
section{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.card{
    width: 400px;
}








    select{
        background-color: black;
        border-style: none;
        color: #F3F3F3;
        font-size: 18px;
}

    button:hover{
        background-color: #8A8787;
        border-style: none;
        color: #fff;
    }


    form input[type=submit]:hover {
        background-color: #8A8787;
        border-style: none;
    }
    
    form input[type=reset]:hover {
        background-color: #8A8787;
        border-style: none;
    }

}